@charset 'utf-8';
@import 'bulma/bulma.sass';
 
$stripe-bg: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cGF0aCBkPSJNLTIgMTBMMTAgLTJaTTEwIDZMNiAxMFpNLTIgMkwyIC0yIiBzdHJva2U9IiMyMjIiIHN0cm9rZS13aWR0aD0iNC41Ij48L3BhdGg+Cjwvc3ZnPg=="),url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImciIHgyPSIxIiB5Mj0iMSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGMTkiPjwvc3RvcD4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMENGIj48L3N0b3A+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZykiPjwvcmVjdD4KPC9zdmc+");
$dot-bg:  url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzI4MjgyOCI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");
$chevron-up : url("/icons/expand_less-white-18dp.svg");
.animate-border {
    display: inline-block;
    color: #000;
    text-decoration: none;
    &::before, &::after {
        content: '';
        display: block;
        height: 2px;
        background-color: white;
        transform: scaleX(0);
        transition: transform 480ms ease-in-out;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
        background-color: $orange;
    }
    &:hover::after {
        transform: scaleX(1);
        transform-origin: right;
        background-color: $orange;
    }
}

.animate-text {
    color: $white !important;
    &:hover {
        color: $orange !important;
        transition: color 250ms ease-in-out;
    }
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.red-text {
    color: red;
}

.bulma-badge {
    background-image: url("/images/made-with-bulma--dark.png");
}

.nasty-bg {
    color: white;
    background: $stripe-bg;
}

.skills-bg{
    background: $dot-bg;
}


.progress.is-purple {

    &::-webkit-progress-value {
        background-color: rgba($color: #512DA8, $alpha: 1.0);
    }

    &::-moz-progress-bar {
        background-color: rgba($color: #512DA8, $alpha: 1.0)
    }

    &::-ms-fill {
        background-color:rgba($color: #512DA8, $alpha: 1.0)
    }
}

.progress.is-orange {

    &::-webkit-progress-value {
        background-color: rgba($color: #E64A19, $alpha: 1.0);
    }

    &::-moz-progress-bar {
        background-color: rgba($color: #E64A19, $alpha: 1.0);
    }

    &::-ms-fill {
        background-color:rgba($color: #E64A19, $alpha: 1.0);
    }
}

.progress.is-lightorange {

    &::-webkit-progress-value {
        background-color: rgba($color: #FF9800, $alpha: 1.0);
    }

    &::-moz-progress-bar {
        background-color: rgba($color: #FF9800, $alpha: 1.0);
    }

    &::-ms-fill {
        background-color:rgba($color: #FF9800, $alpha: 1.0);
    }
}

.to-top-btn {
    // display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border-radius: 35px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.226);
    font-size: 24px;
    background-image: $chevron-up !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    &:hover{
        background-color: $orange !important;
    }
}

.icon-chevron-up {
    background-image: $chevron-up !important;
    background-repeat: no-repeat;
}

.burger-bg {
    background-color: rgba(0, 0, 0, 0.096) !important;
}

.burger-links {
    color: $white !important;
    &:active{
        color: $orange !important;
    }
    @media screen and (max-width: 768px){
        text-align: center;
    }
}

