.burger-bg {
    background-color: rgba(0, 0, 0, 0.096) !important;
}

.nasty-bg {
    color: white;
    // background: url('/images/Subtle-Prism.svg');
    background: url('/images/Polygon Luminary.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bulma-badge {
    background-image: url("/images/made-with-bulma--dark.png");
}

.glass-bg {
    background-color: #3636367d;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}