.burger-bg {
    background-color: rgba(0, 0, 0, 0.096) !important;
}

.nasty-bg {
    color: white;
    // background: url('/images/Subtle-Prism.svg');
    background: url('/images/Polygon Luminary.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.simple-bg {
    background-color: #212121;
}

.bulma-badge {
    background-image: url("/images/made-with-bulma--dark.png");
}

.glass-bg {
    background-color: #3636367d;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.card-dark-bg {
    background-color: #424242 ;
}

.card-hover-primary{
    border: 1px solid transparent;
    transition: $transition;
    &:hover {
        background: transparent;
        border-color: $primary;
    }
}