.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-overflow {
    overflow: hidden;
}

.red-text {
    color: red;
}

.vw-65 {
    width: 65vw;
}
.vw-70 {
    width: 70vw;
}
.vw-75 {
    width: 75vw;
}
.vw-80 {
    width: 80vw;
}
.m-auto {
    margin: auto;
}